.input-div{
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .input-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid white;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    height: fit-content;
  }
}
