
<div class="main-div">
  <div class="web-display-div">
    <div class="display-div" [innerHTML]="sanitizedHtmlContent" (click)="processInformation($event)"></div>
  </div>
  <!-- <div class="sidebar-div"> -->
    <!-- <div class="information">
      <div *ngIf="classes.length" class="class-list">
        <b>Class (Clicked Element)</b>
        <ul>
          <li *ngFor="let class of classes; let i = index">
            ({{ i + 1 }}){{' ' + class}}
          </li>
        </ul>
      </div>
      <div *ngIf="xpath.length" class="xpath-div">
        <b>XPath:</b>
        <p>{{xpath}}</p>
      </div>
      <div *ngIf="srcElement">
        <b>Src:</b>
        <p>{{srcElement}}</p>
      </div>
    </div> -->
  <!-- </div> -->
</div>

