.main-div{
  display: flex;
  height: 100vh;
  .web-display-div{
    display: flex;
    flex: 0 0 65%;
    overflow-y: auto;
    .display-div{
      flex: 0 0 100%;
    }
  }
  .sidebar-div{
    flex: 0 0 35%;
    background-color: dimgrey;
    color: white;
  }
}
